
@page {
    size: A4;

    margin-top: 50mm;

    @bottom {
        content: counter(page);
    }
}


* {
    font-family: "Trebuchet MS", Verdana, Arial;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

.description {
    font-weight: bold;
    font-size: 16px;
    page-break-inside: avoid;
}

.body {
    text-align: justify;
}


.title-box {
    flow: static(header);
}

.title-box table {
    text-align: center;
    width: 100%;
}

#title-box-logo {
    width: 150px;
}

#title-box-text {
    font-weight: bold;
    font-size: 18px;
    vertical-align: middle;
    color: #003366;
}

/* 
 * footer
*/

.footer {
    flow: static(footer);
}

#footer-page-counter,
#footer-text {
    text-align: center;
    font-size: 10px;
}

#footer-text {
    margin-bottom: 1em;
}

#footer-page-counter {
}

pre {
    font-size: 9px;
    background-color: #eeeeee;
    color: black;
    white-space: pre-wrap;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.5em;
    font-family: "Courier New";
    border: thin solid black;
    border-radius: 8px;
    padding: 0.4em;
}


/*
 * for debugging
*/
h1, h2, h3, table, div, pre {
//    border: 1px solid black;
}

tt {
    font-family: Courier;
    background: #dddddd;
}



/* 
 * Newsitem
 */

.teaser-image {
    width: 300px;
}

.image-box {
    float: right;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}



